@import url('https://fonts.googleapis.com/css?family=Spartan');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;
}
h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    /* line-height: 60px; */
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;

}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}
/* HEADER */
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
}
 #navbar{
    display: flex;
    align-items: center;
    justify-content: center;

 }
 #navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
    
 }
 #navbar li :hover{
    color: #008178;
    transition: 0.3s ease;
 }
 
 #navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #101011;
    transition: 0.3s ease;
 }

#navbar li a:hover,
#navbar li a.active{
    color: #008178;
}
#navbar li a.active::after,
#navbar li a:hover::after{
   content: "";
   width: 30%;
   height: 2px;
   background-color:#008178 ;
   position: absolute;
   bottom: -4px;
   left: 20px;
}
/* HOME PAGE */
#hero{
    background-image: url(image/hero.jpg);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 95% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#hero h2{
    color: #e3e6f3;
    padding: 10px 0;
}
#hero h1{
    color: #e3e6f3;
    padding: 10px 0;
}
#hero p{
    color: #e3e6f3;
    padding: 20px 0;
}
#hero button{
    background-image: url(image/button.png);
    background-color:transparent;
    color:gold;
    border: 0;
    padding: 14px 80px 14px 65ox;
    background-position: 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;

}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.06);
    border: 1px solid #008178;
    border-radius: 4px;
    margin: 15px 0;

}
#feature .fe-box :hover{
    box-shadow: 10px 10px 74px rgba(0, 0, 0, 0.06);
}
#feature .fe-box img{ 
    width: 100%;
    margin-bottom: 10px;
}
#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #008178;
    background-color: #fddde4;
}
#product1{
    text-align: center;
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px ;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px ;
}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}
#product1 .pro .des span{
    color: #008178;
    font-size: 12px;
}
#product1 .pro .des h5{
    color: #101011;
    padding-top: 7px ;
    font-size: 14px;
}
#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #008178;
}
#product1 .pro .cart{
    position: absolute;
    bottom: 50px;
    right: 30px;
 
}
#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("image/banner/b14.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}
#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}
#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}
#newsletter .form{
    display: flex;
    width: 40%;
}

#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newsletter button{
    background-color: #008178;
    color: #fff;
    white-space: nowwrap;
    width: 20%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .logo{
    margin-bottom: 30px;
}
footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}
footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}
footer .follow{
    margin-top: 20px; 
}
footer .follow i{
    color:#465b52;
    padding-right: 4px;
    cursor: pointer;
}
footer .install .row img{
    border: 1px solid #008178;
    border-radius: 6px;

}
footer .install img{
    margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover {
    color: rgb(0, 255, 72);
}
footer .copyright{
    width: 100%;
    text-align: center;
}
#page-header{
    background-image: url(image/banner/background.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;   
}
#page-header h2,
#page-header p{
    color: #101011;
}
/* pagnition */
#pagination{
    text-align: center;
}
#pagination a{
    text-decoration: none;
    background-color: #008178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}
#pagination a i{
    font-size: 16px;
    font-weight: 600;   
}
/* single product details */
#prodetails{
    display: flex;
    margin-top: 20px;
}
#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
}
#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
    margin-top: 30px;
}
#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
}
#prodetails .single-pro-details h2{
    font-size: 26px;
}
#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}
#prodetails .single-pro-details input{
    width: 50px;
    height: 35px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
#prodetails .single-pro-details button{
    background: #008178;
    color: #fff;
    padding: 11px 18px;
    border-radius: 4px;
}
/* About us */
#pheader{
    background-image: url(image/banner/banner.png);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}
#pheader h2,
#pheader p{
    color: #fff;
}
#about{
    display: flex;
    align-items: center;
}
#about img{
    width: 60%;
    height: 70vh;
}
#about div{
    padding-left: 40px;
}
/* contact page */
#contact-page{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
#contact-page .details{
    width: 40%;
}
#contact-page .details span,
#form-details form span{
    font-size: 12px;
}
#contact-page .details h2,
#form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}
#contact-page .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}
#contact-page .details li{
    list-style: none;
    display: flex;
    padding: 10px;
}
#contact-page .details li i{
    font-size: 14px;
    padding-right: 22px;
}
#contact-page .details li p{
    margin: 0;
    font-size: 14px;
}
#contact-page .map{
    width: 55%;
    height: 400px;
}
#contact-page .map iframe{
    width: 100%;
    height: 100%;
}
#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;    
}
#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}
#form-details form button{
    padding-left: 12px;
    background-color: #008178;
    color: #fff;
    padding: 15px 20px;
    border-radius: 4px;
}
#form-details .people div{
    padding-bottom: 20px;
    display: flex;
    align-items: flex-start;
}
#form-details .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}
#form-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #101011;
}